extends layout

block styles
	// Site stylesheet

block content
	.container
		.jumbotron
			h1 Sign up for Moocher today!
			p.lead An easy way for you and your friends to remember who payed for that last round of beers
			p
				if features.disableSignUp !== true
					a.btn.btn-lg.btn-outline-success(href="/signup")=t("Signup")
				a(href="/login")=t("Login")

		include parts/footer

block scripts
	script(src='/app/vendor.js')
	script(src='/app/frontend.js')
	script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
