extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/app.css')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')

block content
	#app

block scripts
	// Site scripts
	script(src='/app/vendor.js')
	script(src='/app/app.js')
	script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
	